html{
  --devBlue: #061931;
  --devYellow: #F6F3EB;
  --devPink: #D5917D;
  font-size: 10px;
}

#bio-content {
    color: #91C6C2;
    /* color: var(--devPink); */
}

body {
 font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--devYellow);
}

button {
    border: none;
    background-color: #759F9B;
    color: #fff;
    border-radius: 6px;
    width: 140px;
    height: 50px;
    font-size: 2rem;
}

button a {
    text-decoration: none;
    color: #fff;
}

.btn-group {
    display: flex;
    width: 430px;
    justify-content: space-between;
    /* border: 1px solid #fff; */
    margin-top: -400px;
}

#btn-group-1 {
    background-color: #759F9B;
}

#btn-group-2 {
    background-color: #444C63;
}

#btn-group-3 {
    background-color: #BE7865;
}

#btn-group-4 {
    background-color: #504e47;
}

h1 {
  text-align: center;
  font-size: 3.2rem;
}

img {
  width: 10%;
  border-radius: 10px;
}

#project-grid {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

.project-item {
  flex-basis: 700px;
  margin: 20px;
}




.last-name{
    color: var(--devPink);
}

.logo{
    letter-spacing: 9px;
}

nav{
    background-color: var(--devBlue);
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
    position: fixed;
    width: 100%;
    /* border: 5px solid #fff; */
    z-index: 1;
}

.nav-links{
    color: #fff;
    display: flex;
    list-style-type: none;
}

.nav-links > li{
    padding: 30px;
    font-size: 2rem;
}

.nav-links > li a{
    text-decoration: none;
    color: #fff;
    transition: all 100ms;
}

.nav-links > li a:hover{
    cursor: pointer;
    color: var(--devPink);
}

h1{
    line-height: 70px;
}

.about-container{
    margin-bottom: 200px;
    padding-top: 70px;
}

#header-name {
    text-align: center;
    font-size: 6.4rem;
    letter-spacing: 2px;
}

#header-subtitle {
    text-align: center;
    font-size: 5.1rem;
    margin-top: -30px;
    font-weight: 400;
    letter-spacing: -3px;
}

.about-text {
    font-size: 2.6rem;
    max-width: 600px;
    margin: auto;
    line-height: 29px;
}

.gregg-img{
    border-radius: 50%;
    display: block;
    margin: 100px auto;
    width: 22%;
}

#technical-skills{
  background-color: #D5917D;
}


.skill-list{
    display: flex;
    max-width: 900px;
    margin: auto;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
    justify-content: space-around;
}

#skill {
  flex-basis: 27%;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #00000073;
}

.skills-container {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 200px;
  padding: 100px 0;
}


.projects-container{
    margin-bottom: 200px;
}

.project-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-description {
    color: rgba(248, 254, 252, 0.91);
    font-size: 1.8rem;
    max-width: 506px;
    /* border: 10px solid #fff; */
    font-weight: normal;
    height: 500px;
}

#project-description-tutorial-search {
    color: rgba(58, 61, 79, 0.91);
}

#project-description-ear-training-game {
    color: rgba(248, 254, 252, 0.91);
}

.project-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
}

.project-item {
    list-style-type: none;
    box-shadow: 10px 10px 6px #717171;
    /* border: 1px solid #000; */
    background-color: var(--devBlue);
    width: 1100px;
    display: flex;
    max-height: 520px;
}

.project-item img {
    width: 50%;
}

#project-item-1 {
    background-color: #91C6C2;
}

#project-item-2 {
    background-color: #2A3041;
}

#project-item-3 {
    background-color: #E18E78;
}

#project-item-4 {
    background-color: #F8F2EB;
}

#project-item-5 {
    background-color: #91C6C2;
}

.project-number {
    font-family: Times;
    font-weight: 600;
    font-size: 12rem;
    position: absolute;
    left: 77px;
    top: -100px;
}

#project-number-1, #project-number-5  {
    color: #759F9B;
}

#project-number-2{
    color: #444C63;
}

#project-number-3 {
    color: #BE7865;
}

#project-number-4 {
    color: #bfbeb9;
}

.project-subtitle {
    display: flex;
    justify-content: space-around;
    color: #F8FEFC;
    font-size: 2.3rem;
    font-weight: normal;
    /* border: 1px solid #000; */
    width: 350px;
}

/* .project-subtitle li {
    padding: 10px;
} */

#project-subtitle-tutorial-search {
    color: #888080;
    font-size: 2.3rem;
    font-weight: normal;
}

#project-subtitle-guitar-website, #project-subtitle-cms-website {
    color: #eee;
}





.project-title {
    color: rgba(248, 254, 252, 0.91);
    font-size: 4.5rem;
    /* max-width: 300px; */
}

#project-title-music-library, #project-title-guitar-website, #project-title-cms-website {
    max-width: 300px;
    color: rgba(231, 238, 241, 0.91);
}

#project-title-tutorial-search {
    color:rgba(58, 61, 79, 0.91);
}



.temp-image {
    background-color: red;
    max-width: 400px;
    /* flex-basis: 23%; */
    border-radius: 0;
}

.footer{
    background-color: var(--devBlue);
    color: #fff;
    height: 500px;
}

.footer-name {
    padding-top: 40px;
    font-size: 5rem;
    letter-spacing: 4px;
    font-weight: 400;
    color: var(--devYellow);
}

.footer-email {
    margin-top: -20px;
    font-size: 2rem;
    text-align: center;
    color: var(--devPink);
    height: 60px;
    line-height: 60px;
}

#email-address{
    text-decoration: none;
}

.footer-email:hover{
    cursor: pointer;
}

.footer-links {
    padding-top: 30px;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.social [class*="fa fa-"] {
    text-decoration: none;
    background-color: var(--devYellow);
    border-radius: 30px;
    color: #333;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: auto 15px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    margin-right: 20px;
    transition: all 300ms;
}

#envelope{
    /* border: 1px solid #fff; */
    text-align: center;
    font-size: 6rem;
    color: var(--devPink);
    width: 100%;
    padding-top: 33px;
}


.fa-twitter:hover, .fa-linkedin:hover, .fa-github:hover  { 
    background-color: #46c0fb; 
    color:var(--devYellow);
    transform: scale(1.2);
}

#tech {
    font-size: 1.8rem;
    border: 1px solid rgba(250,250,250,0.5);
    padding: 10px;
    border-radius: 6px;
}

#footer-message {
    text-align: center;
    font-size: 2rem;
}

#footer-line {
    height: 1px;
    width: 425px;
    background-color: rgba(250,250,250,0.5);
    margin: auto;
}